<footer>
    <div class="container">

      <div class="footer-social col-md-4">
        <h4><b>Social</b></h4>
        <ul>

          <li>
            <a href="http://twitter.com/shellyapp">
              <span class="fa fa-twitter footer-icon"/>
            </a>
          </li>

          <li>
            <a href="http://facebook.com/shellyapp">
              <span class="fa fa-facebook footer-icon"/>
            </a>
          </li>

          <li>
            <a href="skype:leonardo.conchon.favaro">
              <span class="fa fa-skype footer-icon"/>
            </a>
          </li>

          <li>
            <a href="mailto:contato@shellyapp.com">
              <span class="fa fa-envelope-o footer-icon"/>
            </a>
          </li>

        </ul>
      </div>

      <div class="footer-links col-md-4">
        <h4><b>Suporte</b></h4>
        <h5>Estamos prontos para atendê-lo das 9h ao 12h das 13:30h as 17h*</h5>
	<h6>* Atendimento fora deste horário são sujeitos a disponibilidade de nossa equipe.</h6>
          <ul>
            <li>
              <a href="tel:046 0000 0000">
                +55 46 0000 0000
              </a>
            </li>
            <li>
              <a href="mailto:contato@shellyapp.com">
                e-mail: contato@shellyapp.com
              </a>
            </li>
            <li>
              <a href="skype:suporte.shellyapp.com">
                skype: suporte.shellyapp.com
              </a>
            </li>
          </ul>
      </div>

      <div class="footer-support col-md-4">
        <h4><b>Um produto:</b></h4>
          <a href="http://wite.com.br" target="_blank">
            <img src="/images/wite.png">
          </a>
      </div>

    </div>
</footer>

<div class="footer-copyright">
  <div class=" container">
    <p class="footer-copyright">
      © 2016 Shelly - Todos os direitos reservados - Design por <a href="http://wmitrut.com" target="_blank">WMITRUT</a>
    </p>
  </div>
</div>
