---
title: Sistema de Gestão de Academias
description: O Sistema Academias é um software profissional completo para gerenciamento de academias. A melhor solução de gerenciamento para sua academia em suas mãos! Do controle de acesso ao resultado obtido pelo aluno. Controle tudo com o Academias. Integrado com tablets e smartphones permite uma experiência sem igual a seus clientes.

---
<div class="hero">
  <div class="container">
    <img class="logo_home" src="/images/logo_home.png"/>
    <h1 class="animated fadeIn">Seu salão a um toque de distância</h1>
    <h3>A melhor forma de encontrar o melhor salão de beleza para você.</h3>
  </div>
  <a><span class="fa fa-chevron-down animated infinite rubberBand scroll"></span></a>
</div>
<div class="second container">
  <div>
    <h1>Como o Shelly funciona?</h1>
    <h3>Tenha sempre alguém atendendo seu pedido.</h3>
    <br>
        <div  class="estatistica col-md-12 row" >
          <div class="col-md-3 col-sm-6">
            <img class="image_tut" src="/images/slide1_image.png">
            <h3> O Shelly te ajuda a encontrar o melhor salão de beleza para você!</h3>
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="image_tut" src="/images/slide2_image.png">
            <h3>Te ajuda a encontrar um salão quando rolar aquela emergência.</h3>
          </div>
          <div  class="col-md-3 col-sm-6">
            <img class="image_tut" src="/images/slide3_image.png">
            <h3> Te informa quais e onde estão os salões mais próximos de onde você está! </h3>
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="image_tut" src="/images/slide4_image.png">
            <h3> Se você é profissional, o Shelly te ajuda a receber novos clientes!</h3>
          </div>
      </div>

  </div>
</div>
<hr>
<div class="third">
  <div>
    <h1>Um poderoso aplicativo que te ajuda a encontrar o lugar certo para você!.</h1>
    <h3>Trabalhamos todos os dias para oferecer novas melhorias e funcionalidades que te ajudarão a encontrar o melhor salão para sua situação</h3>
      <img src="/images/devices.png"/>
      <div class="calltoaction ">
        <a href="#plans" class="button_blue">Venha fazer parte!</a>
      </div>
  </div>
</div>

<div class="fourth" id="plans">
  <div class="container">
    <h1 id="planos">Gostou?</h1>

    <h3>Então não perca tempo e pegue o seu <b>convite exclusivo</b> E comece hoje mesmo a desfrutar de todas as vantagens que o Shelly tem a oferecer!</h3>

    <div class="signup">
      <h2 class="signup-title">Venha para o Shelly beta</h2>
      <p id="signup-success" class="text-success"></p>
      <p id="signup-error" class="text-danger"></p>
        <form class="signup-form form-inline" id="signup-form" role="form" onsubmit="return signup(this)">
          <input class="form-control" id="name" type="text" placeholder="Digite seu nome" required>
          <input class="form-control" id="email" type="email" placeholder="Digite seu Email" required>
          <button type="submit" id="signup-button" class="btn btn-mail">Pegar meu convite!</button>
        </form>
    </div>
  </div>
</div>
