---
title: Shely - Seu Salão a um toque de distância
description: Shely - Seu Salão a um toque de distância

---
<div class="hero">
  <div class="container">
    <img class="logo_home" src="/images/logo_home.png"/>
    <h1 class="animated fadeIn">Seu salão a um toque de distância</h1>
    <h3>A melhor forma de encontrar o melhor salão de beleza para você.</h3>
  </div>
  <a><span class="fa fa-chevron-down animated infinite rubberBand scroll"></span></a>
</div>
<div class="second container">
  <div>
    <h1>Como o Shely funciona?</h1>
    <h3>Tenha sempre alguém atendendo seu pedido.</h3>
    <br>
        <div  class="estatistica col-md-12 row" >
          <div class="col-md-3 col-xs-6">
            <img class="image_tut" src="/images/slide1_image.png">
            <h3> O Shely te ajuda a encontrar o melhor salão de beleza para você!</h3>
          </div>
          <div class="col-md-3 col-xs-6">
            <img class="image_tut" src="/images/slide2_image.png">
            <h3>Te ajuda a encontrar um salão quando rolar aquela emergência.</h3>
          </div>
          <div  class="col-md-3 col-xs-6">
            <img class="image_tut" src="/images/slide3_image.png">
            <h3> Te informa quais e onde estão os salões mais próximos de onde você está! </h3>
          </div>
          <div class="col-md-3 col-xs-6">
            <img class="image_tut" src="/images/slide4_image.png">
            <h3> Se você é profissional, o Shely te ajuda a receber novos clientes!</h3>
          </div>
      </div>

  </div>
</div>
<div class="sos">
  <h1>S.O.S</h1>
  <h3>Um sistema exclusivo de busca de salão no momento de uma emergência</h3>
  <p>Deu aquele aperto? Precisa marcar um horário e não sabe com quem? O S.O.S da Shely emite um chamado para todos os salões próximos a você e encontra o melhor para lhe atender</p>

</div>
<div class="third">
  <div>
    <h1>A Shely é a sua assistente virtual na busca de salões.</h1>
    <h3>Baseada nas melhores avaliações, a Shely te indica qual o melhor salão para o seu caso.</h3>
      <img src="/images/devices.png"/>
      <div class="calltoaction ">
        <a href="#plans" class="button_blue">Venha fazer parte!</a>
      </div>
  </div>
</div>

<div class="fourth" id="plans">
  <div class="container">
    <h1 id="planos">Gostou?</h1>

    <h3>Então não perca tempo e pegue o seu <b>convite exclusivo</b> E comece hoje mesmo a desfrutar de todas as vantagens que o Shely tem a oferecer!</h3>

    <div class="signup">
      <h2 class="signup-title">Venha para o Shely beta</h2>
      <p id="signup-success" class="text-success"></p>
      <p id="signup-error" class="text-danger"></p>
        <form class="signup-form form-inline" id="signup-form" role="form" onsubmit="return signup(this)">
          <input class="form-control" id="name" type="text" placeholder="Digite seu nome" required>
          <input class="form-control" id="email" type="email" placeholder="Digite seu Email" required>
          <button type="submit" id="signup-button" class="btn btn-mail">Pegar meu convite!</button>
        </form>
    </div>
  </div>
</div>
<script>
  window.sr = ScrollReveal({ duration: 2000 });
  sr.reveal('.logo_home', 50);
  sr.reveal('.second', 50);
  sr.reveal('.sos', 50);
  sr.reveal('.third', 50);
  sr.reveal('.fourth', 50);
</script>
